body {
  font-family: "Open Sans";
  margin: 0;
}

.title {
  padding-left: 5%;
  font-weight: bold;
  font-size: 2em;
}

.container {
  margin-top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 7vh;
  margin-bottom: 0;
  width: 50%;
}

h1 span {
  color: rgb(233, 83, 113);
}

.description {
  text-align: center;
  font-size: 1.3em;
  width: 40%;
  color: rgb(157, 157, 157);
}

.button {
  display: flex;
  justify-content: center;
}

.button1,
.button2 {
  display: flex;
  border-radius: 10px;
  padding-right: 10%;
  text-align: start;
  background-color: transparent;
  border: none;
  margin-bottom: 7%;
}

.button1 h1,
.button2 h1 {
  margin-left: 10px;
}


.button2 {
  background-color: rgb(233, 83, 113);
  color: white;
}

.container-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 67vh;
  justify-content: center;
  background: no-repeat center/cover url('/countdown.svg');
}

.container-timer h1,
.container-timer a {
  color: white;
  font-size: 3em;
  margin-bottom: 5%;
}

.timer {
  display: flex;
  gap: 3%;
  width: 100%;
  justify-content: center;
  margin-bottom: 4%;
}

.time {
  text-align: center;
  width: 12%;
  background-color: white;
}

.time p {
  color: rgb(233, 83, 113);
  font-weight: 1000;
  font-size: 2em;
  padding: 5% 0;
}

.key-roles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: no-repeat center/cover url('/background-image.jpg');
}

.key-h1 {
  font-size: 4em;
  margin-top: 3%;
}

.key-roles .description {
  font-size: 1.7em;
  width: 100%;
  line-height: 1;
  display: inline-block;
}

.roles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}

.roles div {
  padding-left: 30px;
  width: calc(33% - 10px);
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
}

.icon {
  font-size: 5em;
}

.roles p {
  font-size: 1.6em;
  width: 60%;
  color: rgb(159, 159, 159);
}

.reasons {
  background: no-repeat center/cover url('/Frame.svg');
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}

.reasons h1 {
  font-size: 4em;
  margin-bottom: 0px;
}

.reasons a {
  font-size: 2em;
  font-weight: 700;
  color: rgb(233, 83, 113);
  text-decoration: underline;
  margin-bottom: 3%;
}

.text {
  display: flex;
  margin-left: 17%;
  flex-direction: column;
}

.text p {
  color: rgb(159, 159, 159);
}

.all-talents {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.talent-icon {
  font-size: 5em;
}

.talent-icon:focus {
  border: solid;
}

form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}

form div {
  width: calc(31% - 10px);
}

label {
  font-weight: 900;
}

input {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
  border: 1px solid rgb(21, 21, 21);
  border-radius: 5px;
}

form button {
  display: flex;
  justify-content: center;
  width: 67.6%;
  border: 0;
  background-color: rgb(233, 83, 113);
  color: white;
  font-weight: bold;
  font-size: 1.8em;
}

form button p {
  width: 100%;
}