body {
  font-family: "Open Sans";
  padding: 1%;
}

.container {
  margin-top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start {
  width: 60%;
  margin-bottom: 1%;
}

.container h1 {
  font-size: 7vh;
}

h1 span {
  color: rgb(233, 83, 113);
}

.description {
  text-align: center;
  width: 40%;
  color: rgb(157, 157, 157);
}

.button {
  display: flex;
  justify-content: center;
}

.button1 {
  margin-right: 2%;
  border-radius: 10px;
  padding-right: 200px;
  padding-left: 20px;
  text-align: start;
  border-width: 0px;
}

.button1 p {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}

.button2 {
  border-radius: 10px;
  padding-right: 200px;
  padding-left: 20px;
  text-align: start;
  border-width: 0px;
  background-color: rgb(233, 83, 113);
}

.button2 p {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}